@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
*{
  font-family: 'League Spartan', sans-serif;
font-family: 'Livvic', sans-serif;
}
body{
  margin:0;
  padding:0;
}
.blue{
  background-color: #014E56;
}

.textWhite{
  color : white;
}
header{
  display: flex;
  text-align: center;
  flex-direction: column;

}
.logo{
  margin: 40px;
  height: 35%;
  width: 35%;
}
.textRose{
 color: #F67E7E;
}
.home2{
  height: 100px;
  width: 100Vw;
  background-image:url('/img/bg-pattern-home-2.svg') ;
  background-repeat: no-repeat;
}
.espace{
  margin-bottom: 25%;
}
.about4{
  height: 250px;
  width: 25Vw;
  background-image:url('/img/bg-pattern-home-3.svg') ;
  background-repeat: no-repeat;
}
.build{
  background-color: #012F34;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
.hrRose{
  width: 50px;
  border-color: #F67E7E;
  margin-top: 50px;
  margin-left: 0;
}
.person{
  height: 75px;
  width: 25Vw;
  background-image:url('/img/icon-person.svg') ;
  background-repeat: no-repeat;
}
.bluef{
  background-color: #012F34;
}
.Experienced{
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
}
.cog{
  height: 75px;
  width: 25Vw;
  background-image: url('/img/icon-cog.svg');
  background-repeat: no-repeat;
}
.Implement{
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
}
.chart{
  height: 75px;
  width: 25Vw;
  background-image: url('/img/icon-chart.svg');
  background-repeat: no-repeat;
}
.Productivity{
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
}
.home4{
  height: 75px;
  width: 25Vw;
  background-image: url('/img/bg-pattern-home-4-about-3.svg');
}